{% embed 'AldorInftechBundle::sidebar.html.twig'  %}
    {% block siedebar_title%}Kategorie{% endblock%}
    {%block siedebar_content %}
    <ul class="entries">
    {% for category in categories%}
        <li class="entry style-recent-list type-post">

        <a href="{{ path('blog_category', {'slug': category.slug }) }}" class="entry-title">
        <i class="fa fa-chevron-right"></i>
        {{ category.name }}
        </a>
        <li>
    {%endfor%}
    </ul>

    {% endblock%}
{% endembed %}




