{% embed 'AldorInftechBundle::sidebar.html.twig'  %}
    {% block siedebar_title%}Tagi{% endblock%}
    {%block siedebar_content %}
    <div class="tagcloud">
    {% for tag in tags%}
    <a class="blog-tag" style="font-size:  {{ 2 *  tag.count }} em" href="{{ path('blog_tag', {'slug': tag.name }) }}">
        {{ tag.name}}
        </a>
    {%endfor%}

        </div>
    {% endblock%}
{% endembed %}




