<div class="widget col-xs-12 col-sm-4">

                        <h4 class="widget-title">Subscribe</h4>

                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">RSS</label>
                                <div class="col-lg-10">
                                    <p class="form-control-static">
                                        <a href="{{ path('blog_rss') }}"><i class="icon-rss-sign"></i> Posty</a> &nbsp; &nbsp;
                                        <a href="{{ path('portfolio_rss') }}"><i class="icon-rss-sign"></i> Projekty</a>
                                    </p>
                                </div>
                            </div>
                        </form>

                    </div><!--/.col-3-->
