    <aside class="widget">
        <h2 class="widget-title ribbon"><span>{% block siedebar_title %}{% endblock %}</span></h2>
        <div class="entries row">
            {% block siedebar_content %} {% endblock %}
        </div>    
    </aside>
